@import '~src/styles/constants';

.sandboxPage {
  background-size: cover;
  background-position: center;
  background-image: url('~src/assets/images/login-bg.jpg');
  .pointer {
    cursor: pointer;
  }
  section {
    display: inline-block;
    width: 100%;
    min-height: calc(100vh - 101px);

    .formPanel {
      max-width: 580px;
      background: #ffffff;
      border-radius: 10px;
      padding: 30px;
      margin: 70px auto 30px auto;
      position: relative;
      h2 {
        font-size: 32px;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }

  .submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
}
