@import '~src/styles/constants';

.couponSpecial{
	background-image: url('~src/assets/images/coupons-bg.png');
	background-size: cover;
}

.coupon{
	position: relative;
	display: inline-block;
    background-repeat: no-repeat;
    background-color: $primary;
	text-align: center;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	h1{
		color: #fff;
		margin: 0;
	}
	h2{
		color: $warning;
		margin: 0;
		font-weight: 500;
	}
	h3{
		color: #fff;
		margin: 0;
	}
	p{
		color: #fff;
		margin: 0;
	}
	.code{
		color: white;
	}
	.logoReaderZone {
		height: 30px;
		margin-bottom: 30px
	}
	.iconBadge {
		width: 100px;
		height: 100px;
		margin-bottom: 30px;
	}
	.textGuide {
		color: #C598FF;

	}
	
	&.sizeSmall{
		width: 100%;
		// height: 190px;
		// background-size: 100% 100%;
		// background-position: center;
		padding-top: 20px;
		padding-bottom: 18px;
		h1{
		    font-size: 20px;
			margin-bottom: 10px;
		}
		h2{
			font-weight: normal;
		    font-size: 20px;
		}
		h3{
		    font-size: 14px;
			font-weight: normal;
			margin-bottom: 5px;
		}
		.code{
			margin-top: 8px;
			margin-bottom: 0;
		}
		.iconBadge {
			display: none;
		}
	}
	&.sizeMedium{
		width: 100%;
		// height: 350px;
		padding-top: 40px;
		// background-size: 100% 100%;
		padding-bottom: 18px;
		.divider{
			height: 2px;
			background-color: $warning;
			width: 100%; 
			max-width: 50%;
			margin: 30px auto;
		}
		h1{
		    font-size: 24px;
			margin-bottom: 12px;
		}
		h2{
			font-weight: normal;
			margin-bottom: 20px;
		    font-size: 20px;
		}
		h3{
		    font-size: 14px;
			font-weight: normal;
			margin-bottom: 5px;
		}
		.code{
			margin-top: 10px;
			margin-bottom: 0;
		}
	}
	&.sizeLarge{
		width: 100%;
		// height: 450px;
		padding-top: 40px;
		padding-bottom: 18px;
		// background-size: 100%;
		.divider{
			height: 2px;
			background-color: $warning;
			width: 100%; 
			max-width: 50%;
			margin: 40px auto;
		}
		h1{
		    font-size: 24px;
			margin-bottom: 12px;
		}
		h2{
			font-weight: normal;
			margin-bottom: 30px;
		    font-size: 20px;
		    line-height: 30px;
		}
		h3{
		    font-size: 14px;
			font-weight: normal;
			margin-bottom: 5px;
		}
		.code{
			margin-top: 20px;
			margin-bottom: 0;
			font-size: 32px;
		}
	}
	&.sizeXLarge{
		width: 100%;
		// height: 640px;
		padding-top: 40px;
		padding-bottom: 30px;
		// background-size: 100%;
		.divider{
			height: 2px;
			background-color: $warning;
			width: 100%; 
			max-width: 50%;
			margin: 70px auto;
		}
		h1{
		    font-size: 28px;
			margin-bottom: 0px;
		}
		h2{
			font-weight: normal;
			margin-bottom: 60px;
		    font-size: 25px;
		    line-height: 30px;
		}
		h3{
		    font-size: 14px;
			font-weight: normal;
			margin-bottom: 5px;
		}
		.code{
			margin-top: 20px;
			margin-bottom: 0;
			font-size: 42px;
		}
	}
	.triangle{
		width: 0;
		height: 0;
		border-left: 31px solid transparent;
		border-right: 31px solid transparent;
		border-top: 33px solid $primary;
		border-bottom-right-radius: 30px;
		position: absolute;
		left: calc(50% - 31px);
		bottom: -33px;
	}
}
.clipboard{
	background: $white;
	box-shadow: 0px 47px 57px rgba(0, 0, 0, 0.03);
	border-radius: 20px;
	padding: 15px;
	text-align: center;
	margin-top: 36px;
}
.clipboardContent{
	border: 1px solid $whisper;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 16px 25px;
    white-space: pre-line;
    overflow: hidden;
	word-break: break-all;
	color: $content_text4;
	text-align: center
}
.buttonCopy{
	margin: 15px auto;
	button{
		box-shadow: 0px 10px 22px rgba(72, 0, 165, 0.26)!important
	}
}