@import '~src/styles/constants';

.errorMessage {
  color: red;
  text-align: center;
  display: flex !important;
  align-items: center;
  margin-top: 20px;
  font-size: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
}
