@import '~src/styles/constants';

.wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white1;
  border-radius: 20px;
  height: 100%;
  cursor: pointer;
  border: 2px solid transparent;
  &:hover {
    background-color: rgba(137, 70, 223, 0.1);
  }
  &.selected {
    // border: 2px solid $primary;
    background-color: $primary;
    .title {
      color: white;
    }
    .description {
      color: #B493E0;
    }
    .note {
      color: $info;
    }
  }
}

.iconWrapper {
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  color: $content_text4;
  text-align: center;
}

.description {
  font-size: 13px;
  color: $content_text1;
  text-align: center;
  line-height: 22px;
}

.note {
  font-size: 14px;
  color: $primary;
  text-align: center;
  line-height: 22px;
	margin-top: 10px;
	font-weight: 500;
}
