@import '~src/styles/constants';
.container{
    padding: 20px !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    min-height: 80px !important;
}
.messageSuccess{
    background: $success !important;
}
.messageWarning{
    background: $warning !important;
}
.messageDanger{
    background: $danger !important;
}
// position
.messageBottomFixed{
    position: fixed !important;
    bottom: 0;
    right: 0;
    left: 0;
}
.messageTopFixed{
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
}
.content{
    color: $white;
    margin-left: 10px;
}