@import '~src/styles/constants';
.container{
    background: $white;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $gray2;
    .icon {
        width: 23px;
        margin-right: 3px;
    }
}