@import '~src/styles/constants';

.footer {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 47px 57px rgba(0, 0, 0, 0.03);
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100% - 320px);
  padding: 0.5rem 3rem 1rem 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  z-index: 999;
  &.absolute {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }
  &.fixed {
    position: fixed;
    left: $drawer-width;
    right: 0;
    bottom: 0px;
    width: auto;
  }
}
@media(max-width: 767px) {
  .footer {
    &.fixed {
      left: 0;
    }
  }
}
