@import '~src/styles/constants';

.programCodeLabel {
  color: $secondary_color;
  font-size: 1em;
  font-weight: 500;
}
.programCodeContainer {
  display: flex;
  .programCode {
    background: none;
    color: $secondary_color;
    border: none;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
  .normal {
    font-size: 48px;
    width: 165px;
    height: 55px;
    padding-bottom: 5px;
  }
  .small {
    font-size: 48px;
    width: 165px;
    height: 45px;
  }
  .copyIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
.label {
  color: $secondary_color;
  font-weight: normal;
  display: block;
}
