.listTable{
    box-shadow: 0px 47px 57px rgba(0, 0, 0, 0.03);
    padding: 0 !important;
    margin-bottom: 50px !important;
    position: relative;
    background: #FFFFFF;
    border-radius: 0.28571429rem;
}
.heading{
    margin: 20px 0;
}